{% extends 'base.html.twig' %}

{% block title %}
    Hello {{ name }}!
{% endblock %}

{% block body %}
    <p>
        Hello {{ name }}!żeli {\displaystyle x\in X}￼ to {\displaystyle x}￼ jest wyrażeniem lambda,
Jeżeli {\displaystyle M}￼ jest wyrażeniem lambda i {\displaystyle x\in X,}￼ to napis {\displaystyle \lambda x.M}￼ jest wyrażeniem lambda,
Jeżeli {\displaystyle M}￼ oraz {\displaystyle N}￼ są wyrażeniami lambda, to napis  {\displaystyle (NM)}￼ jest wyrażeniem lambda,
    </p>
{% endblock %}